/* Estilos para el contenedor de detalles de la obra de arte */
.artwork-details {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: space-between; /* Espacio entre la imagen y el texto */
    padding: 20px; /* Espacio alrededor del contenido */
}

/* Estilos para la imagen */
.artwork-image img {
    max-width: 700px; /* Tamaño máximo de la imagen */
    height: 700px; /* Altura automática para mantener la proporción */
}

/* Estilos para el texto */
.artwork-text {
    flex: 1; /* Hace que el texto ocupe el espacio restante */
    padding-left: 20px; /* Espacio a la izquierda del texto */
}

.artwork-text p {
    margin: 0; /* Elimina el margen predeterminado */
}
